# Mac
.DS_Store
# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.o
*.o.d
*.iml
# Cocos2dx Android
bin/
cocos2d/
proj.android/bin/
proj.android/gen/
proj.android/obj/local/
proj.android/assets/
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/libs/
cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/java/res/
cocos2d/google-play-services_lib/bin/
proj.android-studio/app/libs/armeabi/
proj.android-studio/app/obj/local/
cocos2d/build/tizen/
cocos2d/build/*win*
cocos2d/external/wp_8.1-specific/
cocos2d/external/winrt_8.1-specific/
cocos2d/external/zlib/prebuilt/android/
cocos2d/external/zlib/prebuilt/mac/
cocos2d/external/tiff/prebuilt/android/
cocos2d/cocos/audio/win32/
cocos2d/cocos/audio/tizen/
cocos2d/external/webp/prebuilt/tizen/
proj.android-studio/app/obj/
cocos2d/plugin/plugins/admob/proj.ios/Admob/libGoogleAdMobAds.a
cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/FacebookSDK
cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/A/FacebookSDK
cocos2d/plugin/plugins/facebook/proj.ios/FacebookSDK.framework/Versions/Current/FacebookSDK
cocos2d/plugin/plugins/flurry/proj.ios/FlurryAds/libFlurryAds.a
cocos2d/tools/fbx-conv/mac/libfbxsdk.dylib
cocos2d/external/curl/prebuilt/ios/libcrypto.a
*.class
proj.android/ant.properties
proj.android-studio/gradle.properties
proj.android-studio/app/keystore.jks
proj.ios_mac/Build/
